@font-face {
    font-family: 'Acme';
    src: url('./Acme-Regular.ttf');
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 8vh;
    width: 100vw;
    background-color: #F6AA28;
    border-bottom: solid black 1px;
    align-items: center;  
}

.icon{
    width: 65px;
}

.title{
    padding-left: 1rem;
    white-space: nowrap;
    font-family: 'Acme';
}
.links{
    font-family: 'Acme';
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    margin-left: 75%;
}

.link{
    border: 1px solid black;
    border-radius: 5px;    
    text-decoration: none;
    color: black;
    margin-left: 15px;
    padding: 3px;
    background-color: rgba(128, 128, 128, 0.329);
}

.link:hover{
    text-shadow: 1px 1px black;
    border-width: 2px;
    background-color: rgba(128, 128, 128, 0.507);
}